services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    hostname: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${PROWLARR_CONFIG_FOLDER:-./prowlarr-config}:/config
    ports:
      - ${PROWLARR_WEBUI_PORT:-9696}:9696
    restart: unless-stopped
    networks:
      - net

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    hostname: lidarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${LIDARR_CONFIG_FOLDER:-./lidarr-config}:/config
      - ${TORRENTS_FOLDER}:/downloads
      - ${MUSIC_FOLDER}:/music
    ports:
      - ${LIDARR_WEBUI_PORT:-8686}:8686
    restart: unless-stopped
    networks:
      - net

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    hostname: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SONARR_CONFIG_FOLDER:-./sonarr-config}:/config
      - ${TORRENTS_FOLDER}:/downloads
      - ${TVSHOWS_FOLDER}:/tvshows
    ports:
      - ${SONARR_WEBUI_PORT:-8989}:8989
    restart: unless-stopped
    networks:
      - net

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    hostname: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${RADARR_CONFIG_FOLDER:-./radarr-config}:/config
      - ${TORRENTS_FOLDER}:/downloads
      - ${MOVIES_FOLDER}:/movies
    ports:
      - ${RADARR_WEBUI_PORT:-7878}:7878
    restart: unless-stopped
    networks:
      - net

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    hostname: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${BAZARR_CONFIG_FOLDER:-./bazarr-config}:/config
      - ${TORRENTS_FOLDER}:/downloads
      - ${SUBTITLES_FOLDER}:/subtitles
      - ${MOVIES_FOLDER}:/movies
      - ${TVSHOWS_FOLDER}:/tvshows
    ports:
      - ${BAZARR_WEBUI_PORT:-6767}:6767
    restart: unless-stopped
    networks:
      - net

  # readarr:
  #   image: lscr.io/linuxserver/readarr:develop
  #   container_name: readarr
  #   hostname: readarr
  #   environment:
  #     - PUID=${PUID}
  #     - PGID=${PGID}
  #     - TZ=${TIMEZONE}
  #   volumes:
  #     - ${READARR_CONFIG_FOLDER:-./readarr-config}:/config
  #     - ${TORRENTS_FOLDER}:/downloads
  #     - ${MANGAS_FOLDER}:/mangas
  #     - ${BOOKS_FOLDER}:/books
  #     - ${HQS_FOLDER}:/hqs
  #   ports:
  #     - ${READARR_WEBUI_PORT:-8787}:8787
  #   restart: unless-stopped
  #   networks:
  #     - net

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr
    container_name: flaresolverr
    hostname: flaresolverr
    volumes:
      - ${FLARESOLVERR_CONFIG_FOLDER:-./flaresolverr-config}:/config
    environment:
      - LOG_LEVEL=info
      - TZ=${TIMEZONE}
    ports:
      - ${FLARESOLVERR_PORT:-8191}:8191
    restart: unless-stopped
    networks:
      - net

networks:
  net:
    external: false
